{% extends 'base.html.twig' %}

{% block title %}User {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2 class="genus-name"><a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a> {{ user.fullName }}</h2>
            <div class="sea-creature-container">
                <div class="user-photo"><img src="{{ asset(user.avatarUri) }}" alt=""></div>
                <div class="genus-details">
                    <dl class="genus-details-list">
                        <dt>Email:</dt>
                        <dd>{{ user.email }}</dd>
                        <dt>University:</dt>
                        <dd>{{ user.universityName }}</dd>
                    </dl>
                </div>
            </div>
            <div class="col-xs-4">
                <h3>Genus Studied</h3>
                <ul class="list-group">
                    {% for genusScientist in user.studiedGenuses %}
                        <li class="list-group-item">
                            <a href="{{ path('genus_show', {'slug': genusScientist.genus.slug}) }}">
                                {{ genusScientist.genus.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}